body {
  font-family: "Meiryo", "Hiragino Kaku Gothic Pro";
}
p, h1, h2, h3, h4, h5 {
  font-family: "Meiryo", "Hiragino Kaku Gothic Pro";
}

div#loading {
  text-align: center;
}

div#message {
  display: none;
}

div#warning {
  display: none;
}

div.container {
  margin-top: 30px;
}